body {
    font-family: Arial, sans-serif;
    background-color: #633c3c;
    margin: 0;
    padding: 0;
}
h1 {
    color: #ffffff;
    text-align: center;
}
h2 {
    color: #ff0e0e;
    text-align: center;
}